body {
  min-height: 300vh;
}

* {
  box-sizing: border-box;
}

.drag-list,
.drag-list2 {
  overflow: hidden;
  margin: 10px auto;
  width: 500px;
  border: 1px solid #ccc;
}

.drag-item,
.drag-item2 {
  position: relative;
  z-index: 4;
  transition: all .3s ease-in-out;
  float: left;
  padding: 50px 20px;
  width: 25%;
  text-align: center;
  color: #555;
  background: #ddd;
  border: 1px solid #ccc;
}

.drag-start {
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

.drag-enter {
  opacity: 1;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.handler {
  background-color: #fff;
  display: block;
}
